@media (max-width: 794px) {
    main > section.article{
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 650px) {
    header {
        height: 4.5rem;
    }
    main > section.article {
        grid-template-columns: auto auto;
    }
    main > section {
        font-size: 0.9rem;
    }
    footer {
        height: 2.6rem;
    }

    p{
        font-size: 1rem;
    }
}
@media (max-width: 500px) {
    main > section.list {
        grid-template-columns: auto;
    }
}