:root {
    --primary: #43E8DE ;
    --secondary: #B068C9 ;
    --third: #9D9898;
    --break: #000;
    --white: #fff;

}

.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    left: (100vw - 40vw);
    margin-left: 10px;
    cursor: pointer;
    opacity: 0;
}



.menu .menu-line {
    position: absolute;
    z-index: 999; 
    width: 35px;
    height: 35px;
    left: (100vw - 40vw);
    margin-left: 10px;
    
}
.menu .menu-line span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 3px;
    transition: all ease .3s ;
}

/*Para Fazer o X do menu*/

.menu .menu-faketrigger ~ .menu-line span {
    /*background-color: var(--primary);*/
}

.menu ul{
    position: absolute;
    z-index: 998;
    left: calc(100vw - 20vw);
    top: 0px; 
    background-color: #aff8d6;
    border-left: solid var(--primary) 2px ;
    border-bottom: solid var(--primary) 2px;
    border-top: var(--primary) 2px;
    height: 100%;
    width: 70vw;
    display: none;
}

.menu ul li {
    height: 20%;
    width: 100%;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.menu ul li:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

.menu .menu-faketrigger:checked ~ .menu-line span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-faketrigger:checked ~ .menu-line span:nth-child(2){
    opacity: 0;
}

.menu .menu-faketrigger:checked ~ .menu-line span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg)scaleX(1.25);


}
.menu input:checked ~ ul {
    display: block;
    margin-left: 0;
}
